.sign_in {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;  
  min-height: 100%;
}
.sign_in > div:first-child > div:first-child {
  max-width: 350px;
  margin-top: 12px;
  padding-bottom: 20px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background: #fff;
}

.sign_in > div:first-child > div > div:first-child {
  margin: 0 40px;
}

.sign_in > div:first-child > div > div:first-child > div:first-child {
  font-size: 0;
  height: 51px;
  width: 175px;
  margin: 32px auto 45px;
  background: url('../../images/instagram.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sign_in form > div {
  margin:6px 0;
  font-size: 16px;
  height: 36px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #efefef;
  border-radius: 3px; 
}

.sign_in form > div input {
  box-sizing: border-box;
  width:100%;
  height: 100%;
  background: #fafafa;
  border: none;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(3) {
  text-align: center;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(3) button.active {
  opacity: 1;
  cursor: pointer;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(3) button {
  margin: 10px 0;
  background: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 5px 9px;
  width: 258px;
  font-weight: 600;
  font-size:14px;
  opacity: 0.3;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(4) {
  display: flex;
  flex-direction: row;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(4) > div {
  flex:1.5;
  margin-top: 15px;
  margin-bottom: 25px;
  height:1px;
  background: #efefef;
  line-height: 7px;

}

.sign_in > div:first-child > div > div:first-child > div:nth-child(4) > div:nth-child(2) {
  flex:1;
  text-align: center;
  background: white;
  color: #999;
  font-size: 13px;
  font-weight: 600;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(5) {
  text-align: center;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(5) > a {
  display:inline-block;
  padding-left: 25px;
  color: #385185;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  background: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Facebook_logo_36x36.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  cursor: pointer;
  text-decoration-line: none
}

.warn {
  margin: 20px 0;
  text-align: center;
  color: #ed4956;
  font-size: 14px;
}

.show {
  display: none;
}

.sign_in > div:first-child > div > div:first-child > div:nth-child(7) {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #003569;
  cursor: pointer;
}

.sign_in > div:first-child > div:nth-child(2) {
  margin-top:10px;
  padding: 10px 0;
  border: 1px solid #e6e6e6;
  background: white;
}

.sign_in > div:first-child > div:nth-child(2) > div {
  margin:15px;
  font-size: 14px;
  text-align: center;
}

.sign_in > div:first-child > div:nth-child(2) span {
  color: #3897f0;
  font-weight: 600;
  cursor: pointer;
}
