.sign_in h2 {
  margin: 0 40px 20px;
  text-align: center;
  color: #999;
  font-weight: 600;
  font-size: 20px;
  font-size: 17px;
}
.sign_in > div:last-child {
  margin: 15px 60px;
  color: #999;
  font-size:14px;
}


